{% extends 'base.html.twig' %}

{% block title %}Campaign index{% endblock %}

{% block body %}
    <h1>Campaign index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Budget</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campaign in campaigns %}
            <tr>
                <td>{{ campaign.id }}</td>
                <td>{{ campaign.name }}</td>
                <td>{{ campaign.budget }}</td>
                <td>{{ campaign.startDate ? campaign.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ campaign.endDate ? campaign.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_campaign_show', {'id': campaign.id}) }}">show</a>
                    <a href="{{ path('app_campaign_edit', {'id': campaign.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_campaign_new') }}">Create new</a>
{% endblock %}
