{% extends 'base.html.twig' %}

{% block title %}Kampagnendetails{% endblock %}

{% block body %}

    <h1 class="mb-4">Kampagne {{ campaign.name }}</h1>

    <table class="table mb-4">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ campaign.name }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>CHF {{ campaign.budget }}</td>
            </tr>
            <tr>
                <th>Startdatum</th>
                <td>{{ campaign.startDate ? campaign.startDate|date('d. F Y') : '' }}</td>
            </tr>
            <tr>
                <th>Enddatum</th>
                <td>{{ campaign.endDate ? campaign.endDate|date('d. F Y') : '' }}</td>
            </tr>

            {% if campaign.startDate and campaign.endDate %}
            <tr>
                <th>Laufzeit</th>
                <td>{{ date(campaign.endDate).diff(date(campaign.startDate)).days + 1}} Tage</td>
            </tr>
            {% endif %}

            <tr>
                <th>Projektleiter/in</th>
                <td>{{ campaign.projectManager }}</td>
            </tr>
            <tr>
                <th>Owner Kampagne</th>
                <td>{{ campaign.campaignOwner }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_campaign_index') }}">Zurück</a>
    <a href="{{ path('app_campaign_edit', {'id': campaign.id}) }}">Bearbeiten</a>

    {{ include('campaign/_delete_form.html.twig') }}

{% endblock %}
