{% extends 'base.html.twig' %}

{% block title %}Kunde{% endblock %}

{% block body %}

    <h1 class="mb-4">Kunde {{ client.name }}</h1>

    <table class="table mb-5">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ client.name }}</td>
        </tr>
        <tr>
            <th>Domain</th>
            <td>{{ client.domain }}</td>
        </tr>
        </tbody>
    </table>

    <h3 class="mb-4">Kampagnen {{ client.name }}</h3>

    <div class="cards mb-5 row row-cols-1 row-cols-md-2 g-4">

        {% for campaign in client.clientCampaigns %}

            <div class="col">

                <div class="card">
                    <div class="card-header">
                        {{ campaign.name }}
                    </div>
                    <div class="card-body">

                        <ul>
                            <li>CHF {{ campaign.budget }}</li>
                            <li>{{ campaign.startDate ? campaign.startDate|date('d. F Y') : '' }}</li>
                            <li>{{ campaign.endDate ? campaign.endDate|date('d. F Y') : '' }}</li>
                        </ul>

                        <a href="{{ path('app_campaign_show', {'id': campaign.id}) }}">Zur Kampagne</a>
                    </div>
                </div>

            </div>

        {% else %}
            <tr>
                <td colspan="6">Keine Kampagnen gefunden.</td>
            </tr>
        {% endfor %}

    </div>

    <div class="btn-group">
        <a class="btn btn-outline-primary" href="{{ path('app_client_index') }}">Zurück</a>
        <a class="btn btn-outline-primary" href="{{ path('app_client_edit', {'id': client.id}) }}">Bearbeiten</a>
    </div>

{% endblock %}
