{% extends 'base.html.twig' %}

{% block title %}Kunde{% endblock %}

{% block body %}

    <h1 class="mb-4">Kunde {{ client.name }}</h1>

    <table class="table mb-4">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ client.name }}</td>
        </tr>
        <tr>
            <th>Domain</th>
            <td>{{ client.domain }}</td>
        </tr>
        </tbody>
    </table>

    <h3 class="mb-4">Kampagnen {{ client.name }}</h3>

    <table class="table mb-4">
        <thead>
        <tr>
            <th>Id</th>
            <th>Kampagne</th>
            <th>Budget</th>
            <th>Startdatum</th>
            <th>Enddatum</th>
        </tr>
        </thead>
        <tbody>
        {% for campaign in client.clientCampaigns %}
            <tr>
                <td>{{ campaign.id }}</td>
                <td>
                    <a href="{{ path('app_campaign_show', {'id': campaign.id}) }}">{{ campaign.name }}</a>
                </td>
                <td>CHF {{ campaign.budget }}</td>
                <td>{{ campaign.startDate ? campaign.startDate|date('d. F Y') : '' }}</td>
                <td>{{ campaign.endDate ? campaign.endDate|date('d. F Y') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Keine Kampagnen gefunden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group">
        <a class="btn btn-outline-primary" href="{{ path('app_client_index') }}">Zurück</a>
        <a class="btn btn-outline-primary" href="{{ path('app_client_edit', {'id': client.id}) }}">Bearbeiten</a>
    </div>

{% endblock %}
