<!DOCTYPE html>
<html lang="de-CH">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Campaign Manager{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body data-bs-theme="dark">
<header class="mb-5 bg-body-tertiary">

    <nav class="navbar navbar-expand-lg container">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_main_index') }}">Campaign Manager</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% set currentRoute = app.request.attributes.get('_route') %}

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a
                            class="nav-link {{ currentRoute == 'app_main_index' ? 'active' : '' }}"
                            href="{{ path('app_main_index') }}"
                            {% if currentRoute == 'app_main_index' %}aria-current="page"{% endif %}
                        >Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link {{ currentRoute == 'app_campaign_index' ? 'active' : '' }}"
                            href="{{ path('app_campaign_index') }}"
                            {% if currentRoute == 'app_campaign_index' %}aria-current="page"{% endif %}
                        >Kampagnen</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link {{ currentRoute == 'app_client_index' ? 'active' : '' }}"
                            href="{{ path('app_client_index') }}"
                            {% if currentRoute == 'app_client_index' %}aria-current="page"{% endif %}
                        >Kunden</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

</header>

<main class="main container">
    {% block body %}{% endblock %}
</main>

<footer></footer>
</body>

</html>
