<div class="table-responsive mb-5">

    <table class="table table-campaigns">

        <thead>
        <tr>
            <th>Id</th>
            <th>Kampagne</th>
            <th>Status</th>
            <th>Plattform</th>
            <th>Kunde</th>
            <th>Budget</th>
            <th>Startdatum</th>
            <th>Enddatum</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for campaign in campaigns %}
            <tr>
                <td>{{ campaign.id }}</td>
                <td>{{ campaign.name }}</td>
                <td class="td__campaign-status-icon">
                    <div class="td-inner">
                        <span class="campaign-status-icon {{ campaign.status.badgeClass }}"></span>
                    </div>
                </td>
                <td class="td__platform-icon">
                    <div class="td-inner">
                        <img
                            class="d-none d-lg-inline"
                            src="{{ asset(campaign.platform.iconPath) }}"
                            alt="{{ campaign.platform.name }}"
                            width="16"
                            height="16"
                            loading="lazy"
                        >
                        {{ campaign.platform }}
                    </div>
                </td>
                <td>{{ campaign.client }}</td>
                <td>CHF {{ campaign.budget }}</td>
                <td>{{ campaign.startDate ? campaign.startDate|date('d. F Y') : '' }}</td>
                <td>{{ campaign.endDate ? campaign.endDate|date('d. F Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_campaign_show', {'id': campaign.id}) }}">Mehr</a>
                    <a href="{{ path('app_campaign_edit', {'id': campaign.id}) }}">Bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Keine Kampagnen gefunden.</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

</div>
